:root {
    font-size: calc(0.625rem + 0.4vw);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "sidebar header"
        "sidebar main-page";
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    background-color: #f7774d;
}

#sidebar h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 10px;
}

#sidebar ul li {
    list-style: none;
    font-size: 1.1rem;
}

#sidebar ul {
    padding-left: 10px;
}

#sidebar ul li p {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 5px;
    text-shadow: 2px 2px 4px #fff;
}

#sidebar ul li img {
    height: 1.2rem;
    vertical-align: middle;
}


#sidebar ul li p:hover{
    cursor: pointer;
    text-decoration: underline;
}

#sidebar #bottom-container {
    margin-top: 20px;
}

#header {
    grid-area: header;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: grid;
    grid-template-rows: 33.33% 66.66%;
    grid-template-columns: 66.66% 33.33%;
    box-shadow: 8px 8px 16px 8px #cfcfcd;
}

#search-container {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
}

#search-container input, #search-container img{
    margin: auto 10px;
}

#search-container input {
    background-color: #f7774d;
    border: none;
    margin: auto 50px auto 0;
    padding: 6px 0 6px 10px;
    border-radius: 12px;
    height: 1.5rem;
    flex: 1;
}

#profile {
    display: flex;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
}

#profile .profile-element {
    margin: auto 10px;
    cursor: pointer;
}

#profile img {
    border-radius: 5px;
    height: 2rem;
    border-radius: 100%;
}

#profile p {
    font-weight: bold;
    font-size: 1.2rem;
}

#profile p:hover {
    text-decoration: underline;
}

#welcome-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    grid-area: 2 / 1 / 3 / 2;
}
#welcome-container img {
    height: 4rem;
    border-radius: 100%;
    margin-right: 10px;
}

#welcome-container #welcome-text #first-child {
    font-size: 1rem;
    padding-bottom: 5px;
}

#welcome-container #welcome-text #last-child {
    font-size: 1.5rem;
    font-weight: bold;
}

#welcome-container #welcome-text #last-child:hover {
    cursor: pointer;
    text-decoration: underline;
}

#welcome-container #welcome-text #first-child, #welcome-container #welcome-text #last-child {
    margin: 0;
}

#btns-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

#btns-container .header-btn {
    border: none;
    background-color: #f7774d;
    font-size: 1rem;
    margin: 5px;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#btns-container .header-btn:hover {
    text-decoration: underline;
}

#main-page {
    grid-area: main-page;
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 90%;
    margin: 80px 0 0 20px;
}

#left-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Style for the .window container */
.window {
    width: 70%;
    height: 65%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f8f7f7;
    border-left: 15px solid #f7774d;
    box-shadow: 6px 8px 12px 2px #cfcfcd;
    transition: 0.3s;
    font-size: 1rem;
    grid-auto-flow: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 10px;
}

/* Style for the .window on hover */
.window:hover {
    border-left: 15px solid #e02c2c;
}

/* Style for the #window-images container */
.window-images {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end; /* Align this div to the bottom of .window */
}

/* Style for the .window-img elements */
.window-img {
    height: 35px;
    margin: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.window-img:hover {
    height: 40px;
}
